body {
  text-align: center;
}

.container {
  margin: 0px 20px;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.question-number {
  display: inline;
  margin-right: 35vw;
}
.point {
  display: inline;
  margin-left: 35vw;
}
.indicators {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.question-integer {
  font-size: 250%;
  color: darkblue;
}

li {
  list-style: none;
  margin-top: 10px;
}
.dotted {
  width: 100px;
  border: 10px dotted black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 10px;
  margin: 4% 0px;
}
